### Assignment 20

Submitted by Murali Divya Teja Gummadidala

#### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a= file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'

In [3]:
with open('test.txt','w') as f:
    f.write(test1)

In [4]:
f1 = open('test.txt','r')
f1.read()

'This is a test of the emergency text system,'

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [5]:
f1 = open('test.txt','r')
test2 = f1.read()
if test1 == test2:
    print('both are same')
else:
    print('both are different')

both are same

#### 3. Create a CSV file called books.csv by using these lines:

In [6]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(data)

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [7]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

#### 5. Read books.csv and insert its data into the book table.

In [8]:
import sqlite3
import csv
db = sqlite3.connect('books.db')
cursor = db.cursor()
with open('books.csv','r') as f:
    books = csv.DictReader(f)
    for book in books:
        cursor.execute("INSERT into books values(?,?,?)",(book['title'],book['author'],book['year']))
db.commit()
db.close()

#### 6. Select and print the title column from the book table in alphabetical order.

In [11]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
query = 'SELECT title from books ORDER BY title ASC'
a= cursor.execute(query)
res = cursor.fetchall()
db.close()
for i in res:
    print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

#### 7. From the book table, select and print all columns in the order of publication.

In [12]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
query = 'SELECT * from books order by year'
cursor.execute(query)
res = cursor.fetchall()
cursor.close()
for i in res:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [15]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
a = conn.execute('SELECT title from books order by title')
print(a)
for i in a:
    print(i)

<sqlalchemy.engine.cursor.LegacyCursorResult object at 0x000001C2A4C9CA90>
('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [16]:
!pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\hp\anaconda3\lib\site-packages (from redis) (21.0)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\hp\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\hp\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

#### 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')