### Practice_task_15-May-2022

"""
https://codeshare.io/X8PY8Y

s = "this is My First Python programming class and i am learNING python string and its function"

1 . Try to extract data from index one to index 300 with a jump of 3

2 Try to reverse a string without using reverse function 

3 Try to split a string after conversion of entire string in uppercase 

4 try to convert the whole string into lower case

5 . Try to capitalize the whole string 

6 . Write a diference between isalnum() and isalpha()

7 . Try to give an example of expand tab

8 . Give an example of strip , lstrip and rstrip 

9 .  Replace a string charecter by another charector by taking your own example 
"sudhanshu"

10 . Try  to give a defination of string center function with and exmple 

11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language

12 . Python is a interpreted of compiled language give a clear ans with your understanding

13 . Try to write a usecase of python with your understanding .


you have to send a jupyter notebook to shivan@ineuron.ai before next saturday class 21st of may ."""

In [1]:
s = "this is My First Python programming class and i am learNING python string and its function"

####  1 . Try to extract data from index one to index 300 with a jump of 3

In [2]:
s[1:300:3]

'h   r tnrrmglsnimeNGyosi dtfco'

#### 2  .Try to reverse a string without using reverse function

reversing can be done by [::-1]

In [3]:
reverse_s = s[::-1]
reverse_s

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

#### 3 Try to split a string after conversion of entire string in uppercase

To convert to uppercase we use string.upper(), string.split()

In [4]:
upper_s = s.upper()
upper_s

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [6]:
split_s = upper_s.split(' ')
split_s

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

#### 4 try to convert the whole string into lower case

we can use lower() function for to convert every string to lowercase

In [7]:
lower_s = s.lower()
lower_s

'this is my first python programming class and i am learning python string and its function'

#### 5 . Try to capitalize the whole string

we use capitalize() to make Capitalize the first sting to capitalize

In [9]:
capt_s = s.capitalize()
capt_s

'This is my first python programming class and i am learning python string and its function'

### 6 . Write a diference between isalnum() and isalpha()

isalnum() -   A string is alpha-numeric if all characters in the string are alpha-numeric and
there is at least one character in the string.

this function retuns True if the string is an alpha-numeric string, False otherwise.

In [33]:
m = 'mua1'

In this string we have a number so if we apply isalnum() we get true, if we give two words with space it give False

In [35]:
m.isalnum()

True

In [37]:
m = "1murali 123"

In [38]:
m.isalnum()

False

isalpah() - A string is alphabetic if all characters in the string are alphabetic and there is at least one character in the string.
This function returns true is string is alphabatic , False otherwise

In [39]:
m = 'murali'

string  will return true having only alphabets if we have another sting with space or any number along with it i will throw error

In [40]:
m.isalpha()

True

In [42]:
m ="murali very"

In [43]:
m.isalpha()

False

In [44]:
m = '1murali'
m.isalpha()

False

###  7 . Try to give an example of expand tab

In [48]:
s = 'ineuron  \tmake\tour\tlives \teasy '
s

'ineuron  \tmake\tour\tlives \teasy '

if we give print string \t taken as string but not as special character. to overcome this we use string.expandtab() function

In [49]:
s.expandtabs()

'ineuron         make    our     lives   easy '

###  8 . Give an example of strip , lstrip and rstrip

strip() function is used to remove the extra spaces before and after string.

rstrip() function is used to remove the extra space after string.

lstrip() function is used to remove the extra space before string.

In [50]:
s = "   sudh   anshu    "
s

'   sudh   anshu    '

In [51]:
s.strip()

'sudh   anshu'

In [52]:
s.rstrip()

'   sudh   anshu'

In [53]:
s.lstrip()

'sudh   anshu    '

###  9 .  Replace a string charecter by another charector by taking your own example  "sudhanshu"

In [54]:
s = 'sudhanshu'

 replace() function is used to get replace the strings/character in the given string

In [59]:
replace_str= s.replace('s','$')
replace_str

'$udhan$hu'

In [60]:
s

'sudhanshu'

#### 10 . Try  to give a defination of string center function with and exmple

The center() method returns a string which is padded with the specified character.

center(len of alloc, 'padding string'), string will be kept in padding strings having lenght of allocation

In [61]:
a = "ineuron"

In [62]:
a.center(20,'$')

'$$$$$$ineuron$$$$$$$'

### 11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language

Compiler: compiler is as software program which used to compile software program which gives OS understandble file and generate executable file. Compiled file is specific to OS it cannot run on other OS. 

Ex: C , C++

Interpreter: It is Interpreter software program which used run file dynamically line by line and generate bytecode file which can run on any OS. Interpreter which makes portable and run on any OS

Ex: Python, Java

#### 12 . Python is a interpreted of compiled language give a clear ans with your understanding

Python code is converted to bytecode when it is executed, bytecode file is set of instruction which run on python virtual machine by CPU. Bytecode can be run on any OS.

###  13 . Try to write a usecase of python with your understanding .

Python is a high-level, interpreted, general-purpose programming, multi-paradigm programming language, Object-oriented programming and structured programming language

it is dynamically typed language which makes no need define which type of data included into program 

which makes this python program very easy undasatndable and make handy to implement any type of logic with minimum lines of code.

python is scripted language it can be used in many ways

pyhon can be used develop desktop applications using tknet like blender which is image processing tools developed in python.

python is used to develop web application, scientific programming.

python is used in developing data science, data visualization, ML, DL, and CV applications it has huge library support.

python is used to developing the games.

python is used to develop applications of microcontroller or processor using python support to C. 

python makes very easy to implement and run on any platform