### Practice Questions

Q1

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [14]:
n = int(input('please enter number for pattern: '))
if n < 1:
    print('Please enter number greater than zero')
else:
    for i in range(n):
        for j in range(i+1):
            print('ineuron',end =' ')
        print('\n')

please enter number for pattern: 4
ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

Q2.      
     
       ineuron

    ineuron   ineuron
  
ineuron    ineuron     ineuron

    ineuron ineuron
  
       ineuron

In [45]:
# due to 'ineuron' it is giving this pattern, if we give sudh it will give good shape

n =int(input('Enter the number to print pattern: '))
s = input('Enter string to printed in pattern: ')
k = n
for i in range(n):
    k = k-1
    print('  '*k,end ='')
    for j in range(i+1):
        print(s,end=' ')
    print()
    
for i in range(n-1,0,-1):
    k = n -i
    print('  '*k,end='')
    for j in range(i,0,-1):
        print(s,end=' ')
    print()

Enter the number to print pattern: 5
Enter string to printed in pattern: ineuron
        ineuron
      ineuron ineuron
    ineuron ineuron ineuron
  ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron
  ineuron ineuron ineuron ineuron
    ineuron ineuron ineuron
      ineuron ineuron
        ineuron

Q3. task questions

In [46]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]

#### Q3. Extract all list entites

In [51]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [52]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

#### Q4. Extract all dict entites

In [54]:

for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

#### Q5. Extract all tuple entites

In [55]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

#### Q6. Try to extract all the numerical data it may be part of dict key and value

In [58]:
n_list = []
for i in l:
    if type(i) == tuple or type(i) == list or type(i) == set :
        for j in i:
            if type(j) == int:
                n_list.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int and type(v) == int:
                n_list.append(k)
                n_list.append(v)
n_list

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

#### Q7. try to give summation of all numeric data which is part of list

In [59]:
n_list

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [61]:
print(sum(n_list))

156

#### Q8. Try to filterout all odd values out of numeric data out of list

In [62]:
n_list

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [64]:
odd = []
even = []
for i in n_list:
    if i % 2 != 0:
        odd.append(i)
    else:
        even.append(i)
print('Odd number list',odd)
print('Even number list',even)

Odd number list [1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]
Even number list [2, 4, 2, 4, 6, 4, 6, 4, 6, 8]

####  Q9.Try to extract 'inueron; from the data

In [65]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [73]:
for i in l:
    if type(i) == tuple or type(i) == list or type(i) == set :
        for j in i:
            if j == 'ineuron':
                print(j,'found in the index',i.index(j),'having',type(i))
    if type(i) == dict:
        for k,v in i.items():
            if k == 'ineuron' :
                print(k, 'found in the value of dict')
            if v == 'ineuron':
                print(v,'found in the value of dict')

ineuron found in the value of dict
ineuron found in the index 0 having <class 'list'>

#### Q11. Try to find numer of keys in dict element

In [69]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [72]:
for i in l:
    if type(i) == dict:
        print('No of keys in dictionay are : ',len(i.keys()))

No of keys in dictionay are :  5

#### Q12. Try to filter out all string data

In [74]:
s_list = []
for i in l:
    if type(i) == tuple or type(i) == list or type(i) == set :
        for j in i:
            if type(j) == str:
                s_list.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str:
                s_list.append(k)
            if type(v) == str:
                s_list.append(v)
                
s_list

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']

#### Q13. Try to find alphanum in the data

In [75]:
for i in s_list:
    if i.isalnum():
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

#### Q14.Try to find the multiplicaion of each individual elements in the given whole collection

In [76]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [78]:
for i in l:
    m = 1
    if type(i) == tuple or type(i) == list or type(i) == set :
        for j in i:
            if type(j) == int:
                m *= j
        print('Multipilcation of',type(i),'is',m)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int and type(v) == int:
                m = m * k
                m = m * v
        print('Multipilcation of',type(i),'is',m)

Multipilcation of <class 'list'> is 24
Multipilcation of <class 'tuple'> is 720
Multipilcation of <class 'tuple'> is 2520
Multipilcation of <class 'set'> is 20700
Multipilcation of <class 'dict'> is 1008
Multipilcation of <class 'list'> is 1

#### Q15. Print the flat list

In [79]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [81]:
flat_list = []

for i in l:
    for j in i:
        flat_list.append(j)
    if type(i) == dict:
        for k,v in i.items():
            flat_list.append(k)
            flat_list.append(v)
    
flat_list

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']

#### Q10. Try to find out occuence of all the data

In [85]:
print(flat_list)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']

In [88]:
s = []
for i in flat_list:
    s.append(str(i))
print(s)

['1', '2', '3', '4', '2', '3', '4', '5', '6', '3', '4', '5', '6', '7', '45', '4', '5', '23', 'k1', 'k2', 'k3', '3', '7', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', '3', '6', '7', '8', 'ineuron', 'data science']

In [89]:
for i in set(s):
    print(i,":",s.count(i))

ineuron : 2
sudh : 1
8 : 1
1 : 1
23 : 1
45 : 1
kumar : 1
6 : 3
k2 : 2
7 : 3
2 : 2
4 : 4
3 : 5
k1 : 2
data science : 1
k3 : 2
5 : 3